<a href="https://colab.research.google.com/github/Jvsilvagomes/Fundamentos-de-python/blob/main/Aula08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# laços de repitição for e while
%%time
n = int(input("Informe um numero para calcular seu fatorial: "))
resultado = 1
i = 1
while i <= n:
  resultado = resultado * i
  i = i + 1
print('O fatorial de {} é: {}'.format(n,resultado))

Informe um numero para calcular seu fatorial: 01
O fatorial de 1 é: 1
CPU times: user 23.8 ms, sys: 1.19 ms, total: 25 ms
Wall time: 1.44 s

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

Somando os numeros impares usando o while

In [ ]:
numero = int(input("Digite um numero inteiro: "))
print('\n')
contador= 1
valor = 0

while contador <= numero:
  if contador% 2 != 0:
    valor = valor + contador
    print(contador)
  contador += 1

print('\n')

print('----------------------------------------------------------')

print(f"O valor da soma dos numeros impares até {numero} é de {valor}")

print('----------------------------------------------------------')

In [ ]:
num1 = int(input("Digite um numero para descobrir sua tabuada: "))
print(f'numero escolhido foi {num1}')
aux = 1
print("\n")
print(f"Tabuada do numero {num1}")
print('-------------------------')
while aux <= 10:
  resultado = num1 * aux
  print(f"{num1} x {aux} = {resultado}")

  aux += 1

Digite um numero para descobrir sua tabuada: 10
numero escolhido foi 10


Tabuada do numero 10
-------------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
i = 1
result = 1

while i <= 100:
  result *= i
  if i == 42:
    print("Chegou no 42! Execução interrompida.")
    break
  i += 1

print("i:", i)
print('resultado:', result)

Chegou no 42! Execução interrompida.
i: 42
resultado: 1405006117752879898543142606244511569936384000000000

In [ ]:
i = 0
result = 1

while i < 20:
  i += 1
  if i %  2 == 0:
      print('Pular {}'.format(i))
      continue
  print('Multiplica com {}'.format(i))
  result = result * i

print('i:', i)
print('resultado:', result)

In [ ]:
i = 1
while i < 10:
    i += 1
    if i == 3 or i == 7:
        continue
    print(i)

2
4
5
6
8
9
10

In [ ]:
import random
numero_aleatorio = random.randint(1,55)

while True:
  numero = int(input("Digite um numero aleatório entre 1 e 55 e tente acertar o numero premiado: "))
  if numero == numero_aleatorio:
    print("Parabens, você acertou")
    break
  else:
    print("Tente novamente")

Começando a usar o for

In [ ]:
# for

dias = ['segunda', 'terca', 'quarta', 'quinta', 'sexta']
for dia in dias:
  print(dia)

segunda
terca
quarta
quinta
sexta

In [ ]:
# looping sobra a string
for char in 'segunda ':
  print(char)

s
e
g
u
n
d
a

In [ ]:
# looping sobre tuple

for fruta in('maça', 'banana','uva'):
    print("A fruta:", fruta)

A fruta: maça
A fruta: banana
A fruta: uva

In [ ]:
# looping sobre dicionario

person1 = {
    'nome' : 'João',
    'idade' : 16,
    'sexo' : 'masculino',
    'casado' : True
}

for key in person1:
  print("key:", key, ",", "Value:", person1[key])

key: nome , Value: João
key: idade , Value: 16
key: sexo , Value: masculino
key: casado , Value: True

In [ ]:
for numero in range(1, 11):
    print(numero)

In [ ]:
for numero in range(7):
  print(numero)

In [ ]:
for i in range (3, 14, 4):
  print(i)

In [ ]:
a_list = ['segunda', 'terca', 'quarta', 'quinta', 'sexta']
for i in range(len(a_list)):
  print("O valor da posição {} é {}.".format(i, a_list[i]))

In [ ]:
persons = [{'nome':'João', 'sexo':'masculino'}, {'nome':'Julia', 'sexo':'Feminino'}]

for person in persons:
  for key in person:
    print(key, ":", person[key])
    print(" ")

In [ ]:
for numero in range(1, 6):
    print(numero)

In [ ]:
tabuada = int(input('Escolha um numero para descobrir sua tabuada: '))
for i in range(0, 11):
  print(f"{tabuada} x {i} = {tabuada*i}")
  i += 1

In [ ]:
for numb in range(0, 101):
  if numb % 2 == 0:
    print(numb)