<a href="https://colab.research.google.com/github/Jvsilvagomes/Fundamentos-de-python/blob/main/Aula02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ver versão do python

In [ ]:
'''
código para verificar a versão do python
'''
!python -V

Calculadora simples

In [ ]:
# calculadora

#soma

print(4 + 4)

#subtração

print(5 - 3)

#multiplicação

print(5 * 3)

#Divisão

print(20 / 5)

#potencia

print(3 ** 3)

#modulo

print(20 % 2)

Vendo tipos de dados

In [ ]:
# Vendo tipos de dados usando o - type -

print (type(5))

print (type(1.86))

print (type('w'))

print (type('python'))

print (type (true))

Aprendendo  funções internas usadas para operações

In [ ]:
# Usando o - round - conseguimos arredondar o valor

print(round(10.23735,3))

# Usando o - pow - conseguimos ver a potencia dos dois numeros

print(pow(2,3))

Variaveis

In [ ]:
# com Variaveis

velocidade = 10
tempo = 5

print (velocidade)

print (tempo)

In [ ]:
#sem variaveis
print("Não usando variavel")
print(10 * 5)


print("----------------")


#com variavel
print("Usando variavel")
velocidade = 10
tempo = 5
distancia = velocidade * tempo

print(distancia)

Tipagem

In [ ]:
#Exemplo de tipagem dinâmica

x = 10 # x é um inteiro
print (x)
print(type(x))

print("---------------")

x = "hello" # x agora é uma string
print(x)
print(type(x))

In [ ]:
cidade1, cidade2, cidade3 = 'São Paulo', 'Rio de Janeiro', 'Belo Horizonte'

print(cidade1)
print(cidade2)
print(cidade3)

In [ ]:
resultado = velocidade * 10
print(resultado)

In [ ]:
velocidade + (4 * resultado) - distancia

concatenação

In [ ]:
# concatenar variaveis

primeiro_nome = "João "
segundo_nome = "Victor "
terceiro_nome = "Silva "
quarto_nome = "Gomes"

nome_completo = primeiro_nome + segundo_nome + terceiro_nome + quarto_nome
print(nome_completo)
print(type(nome_completo))

João Victor Silva Gomes

Desafio:

In [ ]:
a = 10
b = 20

soma = a + b

print(soma)

30

In [ ]:
celcius = 25
fahrenheit = (celcius*9/5)+ 32

print("A temperatura de", str(celcius), "graus é igual a", str(fahrenheit), "graus fahrenheit.")

A temperatura de 25 graus é igual a 77.0 graus fahrenheit.

In [ ]:
salario_bruto = 3000
inss = 0.08 * 3000
liquido = salario_bruto - inss

print("Salario bruto é de R$", str(salario_bruto))
print("O desconto do inss é de R$", str(inss))
print("O salario pós desconto é de R$",str(liquido))

print("-------------------------------------------------------------------------------------------------")

print("O salario bruto é de R$", salario_bruto, "o desconto do inss é de R$", inss, "o salario liquidado é de R$", liquido)

Salario bruto é de R$ 3000
O desconto do inss é de R$ 240.0
O salario pós desconto é de R$ 2760.0
-------------------------------------------------------------------------------------------------
O salario bruto é de R$ 3000 o desconto do inss é de R$ 240.0 o salario liquidado é de R$ 2760.0

In [ ]:
nome = "joão"

print("Seja bem-vindo", nome)

Seja bem-vindo joão

In [ ]:
esporte_favorito = "volei"
pessoa = "joão"
idade = 16
print("Olá sou o ", pessoa, "tenho ",idade ,"anos e meu esporte favorito é", esporte_favorito)

Olá sou o  joão tenho  16 anos e meu esporte favorito é volei

In [ ]:
custo = 5000
pessoas = 29
valor_passagem = 200

multiplicação = valor_passagem * pessoas
lucro = multiplicação - custo

print("O lucro da empresa será de R$", lucro)

O lucro da empresa será de R$ 800

In [ ]:
camiseta = 25 #preço camiseta
vendas = 50 #meta de vendas

arrecadado = vendas * camiseta

print("O total arrecadado pela turma é de R$", arrecadado)

O total arrecadado pela turma é de R$ 1250